@font-face {
    font-family: 'RotisSansSerif';
    src: url('../assets/fonts/RotisSansSerifStd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



.pen {
    width: 50px;
    height: auto;
    margin-right: 15px;
}



.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}